.pass-bg{
    background-color: #F6F6F6;
    width: 35%;
    height: 70vh;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    border-radius: 24px;
}

body {
    font-size: 1.6rem;
    font-family: "Ubuntu", sans-serif;
    color: #2b2b2b;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.lockimg{
    margin-top: 8%;
}

.passhead{
    margin-top: 5%;
    font-size: 24px;
    font-weight: 500;
}

.passsubhead{
    font-size: 18px;
    font-weight: 400;
}

.passform{
    padding-top: 5%;
    width: 70%;
    margin: auto;
}

input{
    font-size: 18px !important;
}


@media (max-width:1280px) {

    .pass-bg{
        width: 50%;
    }

}

@media (max-width:960px) {

    .pass-bg{
        width: 80%;
    }


}

@media (max-width:768px) {

    .pass-bg{
        width: 95%;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 12px;
    }

    .passform{
        width: 80%;
    }


}